/*PAGINA PESSOAL*/
@font-face {
    font-family: 'Space Mono';
    src: local('Space Mono'), url('https://fonts.googleapis.com/css2?family=Space+Mono') format('truetype');
}

body{
    font-family: 'Space Mono';
    color:black;
}

#container{
    background: #00aef3; 
    height: auto;
    width: 100%;
    text-align: center;

}


.icon{
    width: 150px;
    height: auto;
}

.inner{
    /* IMAGENS */
    margin-top: 25px;
    border-radius: 2px;
    display: inline-block;
    vertical-align: top;
    size-adjust: 2em;
    padding: 25px;
    align-content: center;
    /* TEXTO */ 
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.Texto_Icon{
    font-weight: bold;
    margin-top: 20px;
    size-adjust: 3em;
    font-size: medium;
}

#button_notas{
    margin-top: -2px;
    box-shadow: none;
    border-color: #00aef3;
    outline: #00aef3;
    color: #014f63;
    background-color: #00aef3;
    font-weight: bolder;
}

#Notas{
    color: #ffffff;
    text-decoration: none;
}

#Nome_Modulos{
    color: #ffffff;
    text-decoration: none;
}

/*PAGINA PESSOAL*/
/*INFORMAÇÂO DO PERFIL*/
#foto_perfil{
    width: 270px;
    height: auto;
    border-color: #00aef3;
    border-style: outset;
}

.info_perfil{
  text-align: right;
}

.container{
    align-content: center;
    width: 100%;
    text-align: center;
}

#Informacao_do_candidato{
    font-weight: bold;
    padding-top: 4%;
    margin-bottom: 3%;
    text-align: center;
    color: #014f63;
}


#perfil_grid{
    display:grid;
    grid-template-columns: 550px 500px 5500px;
    grid-template-rows: auto;
    text-align: left;
    text-size-adjust: 20px;
    color: #014f63;
    
}

.col{
    text-align: left;
    margin-top: 5%;
}

.row{
    font-weight: bold;
    font-size: medium;

}

#butoes_perfil{
    text-align: center;
    padding: 3%;

}

.btn-success{
    margin-top: 2em;
    box-shadow: none;
    border-color: #00aef3;
    outline: #00aef3;
    font-weight: bold;
    color: #00aef3;
    background-color: #fff;
}

.btn-danger{
    margin-top: 2em;
    box-shadow: none;
    border-color: #00aef3;
    outline: #00aef3;
    font-weight: bold;
    color: #00aef3;
    background-color: #fff;

}

.btn-info{
    margin-top: 2em;
    box-shadow: none;
    border-color: #00aef3;
    outline: #00aef3;
    font-weight: bold;
    color: #00aef3;
    background-color: #fff;

}


/* TABELAS REATIVAS*/
.spaced{
    color: #014f63;
    
}

#bootcamp{
    margin: 4%;
    text-align: center;
    color: #014f63;
    margin-top: 2%;
    margin-bottom: 1%;
}

/* CANDIDATOS*/
#titulo_candidatos{
    margin: 4%;
    text-align: center;
    color: #014f63;
    margin-top: 2%;
    margin-bottom: 2%;
}


#places-to-be{
    margin: 5px;
    margin-bottom: 2%;
    padding: 0.8%;
    margin-left: 5%;
    margin-right: 5%;
    background-color:#014f63;
}


/*MAPA*/
#gps{
    width: 100%;
    height: 600px;
    text-align: center;
}

/*IMAGEM*/
#hotspot{
    max-width: 100%;
    height: 400px;
    margin-right: 5%;
    text-align: center;
}

.accordion{
    color: #00aef3;   
}

/*TESTE*/
#accordions{
    /*margin-top: 1em;*/
    background-color:#00aef3;   
    size-adjust: 2em;
    color: #ffffff;
    /*margin-left: 5%;
    margin-right: 5%;*/ 
    width: 50%; 
    margin: auto;
}

.accordion-header{
    margin: auto;
    width: 50%;
    /*margin-left: 5%;*/    
}

.accordion-collapse{
   border: #ffffff;
}

.accordion-button{
    margin-top: 5%;
    background-color:#00aef3;   
    /*size-adjust: 2em;*/
    color: #00aef3;
}


#aqui{
    margin-top: 2%;
    margin-bottom: 2%;
    
}

/*MEXE O TEXTO INTERNO*/
.accordion-body{
    /*margin-left: 5%;
    margin-right: 5%;*/
    width: 50%; 
    margin: auto;
    color:#014f63;
    text-align: center;
}


.accordions{
    text-align: left;
    color: #014f63;

}

/*TEXTO BOTAO*/
.button-title{
    text-align: left;
    color: white;
}
