@font-face {
    font-family: 'Space Mono';
    src: local('Space Mono'), url('https://fonts.googleapis.com/css2?family=Space+Mono') format('truetype');
  }
body{
    font-family: 'Space Mono';
    font-size:0.8em;
    color:black;
}
nav{
    border-bottom: #3C3C3C 1px solid;
}
section{
    text-align: left;
}
a {
    color: black;
    text-decoration: none;
}
a:hover{
    color: #999999;
    text-decoration: none;
}
a:visited{
    color: black;
    text-decoration: none;
}
a:active{
    color:#cccccc;
    text-decoration: none;
}
.titulo{
    font-size: 2em;
}
.titulo-branco{
    font-size: 2em;
    color: white;
}
.titulo-preto{
    font-size: 2em;
    color: black;
}
.white-text{
    text-align: justify;
    color: white;
    margin-top: 1em;
}
.black-text{
    text-align: justify;
    color: black;
    margin-top: 1em;
}
div.login{
    background-color:#e1e1e1;
    text-align: right;
    padding: 1em;
}
.light-blue{
    background-color: #00aef3;
    padding: 2.5em;
}
.dark-blue{
    background-color: #014f63;
    padding: 2.5em;
}
.light-grey{
    background-color: #e1e1e1;
    padding: 2.5em;
}
.section-white{
    background-color: white;
    padding: 2.5em;
}
.custom-button{
    --bs-btn-hover-border-color: white;
    --bs-btn-border-color: white;
    --bs-btn-active-border-color: white;
  }
.logo{
    height: 4em;
}
.center{
    margin: auto;
    width: 50%; 
}
.roadmap{
    width: 18em;
}
.tooltip{
    font-family: 'Space Mono';
}
footer{
    text-align: center;
}
.footer{
    width: 100em;
}